<div class="itemModal">
    <ul class="list">
        <%_.each(items, function(item){%>
          <% if ( item.active) {%>
            <li class=" columns small-6 medium-6 large-6" style="margin-bottom: .8em;"  >
            	<a >
	            	<div class="js-item columns small-12 medium-8 large-6" id="<%=item.id%>" >
                        <img width=64 height=64 src="../../images/Logoscrypto/<%=item.id.toLowerCase()%>.png"/>
	                    <%=item.id%>
	            	</div>
                </a>
            </li>
          <%}%>
        <%})%>
    </ul>
</div>
<a class="close-reveal-modal">&#215;</a>