<div>
<a href="#" id="js-toggleDragDrop" class="button">Lock / unlock</a>
</div>
<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div id="js-keyfacts" class="datawidget">
            </div>
        </li>

        <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
            <div id="js-controller">
            </div>
        </li>

        <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
            <div id="js-mainview" class="datawidget">
            </div>
        </li>

    </ul>
</div>
