$primary_color: #ffffff;
 a {
    font-color:003366;
    text-decoration: none;
}
.panel {
    background:$primary_color;
    border:none !important;
    margin-bottom: 0;
}
.row {
    max-width:none;
    margin-left:2%;
    margin-right:2%;
    width:95%;
}
.ul.inline-list > .li {
    display: inline;
}
.right-small.tab-bar-section {
    width: 15em;
}
.hide {
    display:none;
}
.buttonList {
    display: block;
}
.tab-bar-section.left-small {
    width: 3.8125rem;
    z-index: 99;
}
.bigButton {
    width: 100%;
    height: 5em;
    text-align: cente;
    vertical-align: bottom;
    padding-top: 2em !important;
    border-radius:6px;
}

.title-area.webappTitle {
    text-align: center;
    margin-left: 5em;
}

/*
.loading {
    background: url("/images/loaders/spiffygif_30x30.gif");
    background-repeat: no-repeat;
    background-position: center;
}
*/

body {
    background: #a3a3a3;
}

.hidden {
    visibility:hidden;
}

.top-bar-section ul li.item {
    float: none;
}

#firstRow {
    padding-top: 45px;
}

.datawidget {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 15px;
    background-color: $primary_color;
}

#js-offcanvasmenu {
    padding-top:45px;
}