#js-marketcapModal{
    top:50px;
    height: 1000px;
}
#marketcapContainer {
	height:26em;
	overflow-y:scroll;
	overflow-x:hidden;
}


#marketcapTable td {
	font-size:0.875em;
		height:4em;
	
}
.marketcap_correlation {
	text-anchor:middle;
	font-size:1em;
	fill:white;
	
}