<div class="small-12 medium-12 large-12 columns"  style="padding:0;">
    <span  id="js-showDetails" style="float:right;position:absolute;right:1em;bottom:1em;" class="button tiny" >Show Details</span>
    <div id="js-pieChart" >
    </div>
    <div id="js-volumes">
    	 <ul class="platformListVolume" style="list-style-type:none;">
            <%_.each(data.tickers, function(ticker){%>
            <li >
                <%=ticker.platform%> : <%=ticker.vol%>  
                Major Currency : <%=ticker.currency%>
            </li>
            <%})%>
            <li>
            	TOTAL : <%= data.total%>
            </li>
        </ul>
    </div>
</div>

