.newsTable {
	margin-top:30px;
}

.newsTable .positive {
	color:#38F702;
	font-weight:bold;
}

.newsTable .extremely_positive {
	color:#1F7D05;
	font-weight:bold;
}

.newsTable .negative {
	color:#FA0000;
	font-weight:bold;
}

.newsTable .extremely_negative {
	color:#8A0404;
	font-weight:bold;
}

.weeklogo {
	height:20px;
	width:20px;
}
.description {
	font-style:italic;
}