<nav class="top-bar data-topbar headerView">

    <section class="top-bar-section">

        <ul class="left">
            <li>
                <a class="left-off-canvas-toggle menu-icon" href="#">
                    <span class="icon-tools"></span>
                </a>
            </li>
        </ul>

        <ul class="webappTitle">
            <li class="name">
                <h1><a href="/">Heartbit - market's pulse</a>
                </h1>
            </li>
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">
            <li>
                <a href="http://blog.heartbit.io/">Blog</a>
            </li>
            <li class="divider"></li>
            <li class="has-form">
                <a href="#" id="js-getStarted" class="button">Getting started</a>
            </li>
        </ul>

    </section>
</nav>
