<!-- <nav class="tab-bar">
    <section class="left-small tab-bar-section">
        <a class="left-off-canvas-toggle menu-icon" href="#">
            <span></span>
        </a>
    </section>
    <section class="middle tab-bar-section">
        <h1 class="title"><a href="/">Heartbit - market's pulse</a>
        </h1>
    </section>
    <section class="right-small tab-bar-section">
        <ul class="inline-list buttonList">
            <li>
                <a href="http://blog.heartbit.io/">Blog</a>
            </li>
            <li class="divider"></li>
            <li >
                <a href="#" id="js-getStarted" class="button">Get started</a>
            </li>
        </ul>
    </section>
</nav>
 -->
         
                      
                    
            <nav class="top-bar data-topbar">

                <section class="top-bar-section">
                   <ul class="title-area webappTitle">
                        <li class="name">
                            <h1><a href="/">Heartbit - market's pulse</a>
                            </h1>
                        </li>
                    </ul>
                <!-- Right Nav Section -->
                    <ul class="right">
                        <li>
                            <a href="http://blog.heartbit.io/">Blog</a>
                        </li>
                        <li class="divider"></li>
                        <li class="has-form">
                            <a href="#" id="js-getStarted" class="button">Get started</a>
                        </li>
                    </ul>

                </section>
            </nav>



<!-- <nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
        </li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li>
                <a class="left-off-canvas-toggle menu-icon" href="#">
                    <span>MENU</span>
                </a>
            </li>
            <li>
                <a href="/">Heartbit - market's pulse</a>
            </li>
        </ul>
        <ul class="right">
            <li>
                <a href="http://blog.heartbit.io/">Blog</a>
            </li>
            <li class="divider"></li>
            <li class="has-form">
                <a href="/webapp" class="button">Webapp</a>
            </li>
        </ul>
    </section>
</nav>
 -->
