<!-- <nav id="js-menu" class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="#" class="js-home">Heartbit</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a>
        </li>
    </ul>

    <section class="top-bar-section">
        <ul class="right">
            
            <li class="divider"></li>
            <li id="js-calculator">
                <a href="#">Calculator</a>
            </li>    
            <li class="divider"></li>    
            <li id="js-weeknews">
                <a href="#">Week Facts</a>
            </li>
            <li class="divider"></li>
            <li id="js-marketcap">
                <a href="#">Marketcap</a>
            </li>
            <li id="js-price">
                <a href="#">Price</a>
            </li>
            <li id="js-volume">
                <a href="#">Volume</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">Ressources</a>
            </li>
            <li class="divider"></li>
            
            <li>
                <a href="http://blog.insightfulcointrader.com/">Blog</a>
            </li>
            <li class="divider"></li>
            <li class="has-form">
                <a href="#" id="js-getStarted" class="button">Get started</a>
            </li>
        </ul>

        <div id="js-itemView">

        </div>

    </section>
</nav>
 -->
