<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/images/favicon.ico" />
    <link href="/styles/all.css" rel="stylesheet" />
    <title>Heartbit - 404</title>
</head>

<body class="">

    <div class="row panel text-center">
        <a href="/">
            <h1>Heartbit - 404</h1>
        </a>
    </div>

    <div class="row panel">
        <blockquote>
            I have a theory that you can make any sentense seen profound by writing the name of a dead philosopher at the end of it.
            <cite>Plato</cite>
        </blockquote>
    </div>

    <div class="row panel text-center">
        <p>404 not found dude o_0'</p>
    </div>

    </div>

</body>

</html>
