<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>heartbit</title>
    <link href="/styles/all.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.ico" />
    <script src="/libs/modernizr.js"></script>
</head>

<body id="js-app">
    <div class="off-canvas-wrap" data-offcanvas>

        <div id="js-header" class="fixed"></div>

        <div class="inner-wrap">
            <aside class="left-off-canvas-menu" id="js-offcanvasmenu">
            </aside>
            <section class="row" id="firstRow" data-equalizer>
                <div class="large-10 small-12 medium-12 columns large-centered">
                    <div class="right small-12 medium-12 large-4 columns" data-equalizer-watch>
                        <div id="js-controller">
                        </div>
                    </div>

                    <div class="small-12 medium-12 large-8 columns" style=" margin-top: 1.3em;" data-equalizer-watch>
                        <hr class="myHr" />
                        <div id="js-keyfacts" class="datawidget">
                        </div>
                        <hr class="myHr" />
                    </div>
                </div>
            </section>

            <section class="row ">
                <div class="large-10 large-centered medium-12 small-12 columns">
                    <div id="js-mainview" class="datawidget">
                    </div>
                </div>
            </section>
            <section class="row ">
                <div class="large-10 large-centered medium-12 small-12 columns">
  
                </div>
            </section>

            <!-- LARGE DEPTH TEST -->
            <section>
               <div class="large-10 medium-12 small-12 columns large-centered" data-equalizer-watch>
                        <div class="row" data-equalizer>
                            <div class="large-12 medium-12 small-12 columns" data-equalizer-watch>
                             <!--    <h1>Order Book</h1> -->
                                <div id="js-depthView" class="depthView datawidget">
                                </div>
                            </div>
                        </div>

                    </br> </br> </br>
                </div>
            </section>
            <section class="row " data-equalizer>
                <div class="large-10 small-12 medium-12 columns large-centered">
                    <div class="large-6 medium-12 small-12 columns" data-equalizer-watch>
                                <div id="js-volumewidget" class="datawidget">
                                </div>
                    </div>
                    <div class="large-3 medium-12 small-12 columns" data-equalizer-watch>
                                <div id="js-pricewidget" class="datawidget">
                                </div>
                    </div>
                    <div class="large-3 medium-12 small-12 columns" data-equalizer-watch>
                                <div id="js-tradewidget" class="datawidget">
                                </div>
                    </div>
                       
                    <div class="large-12 medium-12 small-12 columns" data-equalizer-watch>
                        <hr class="myHr" />
                        <div class="datawidget" id="js-news"></div>
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="large-12 medium-12 small-12 columns datawidget" id="">
                    <span class="right">hearbit.io 2014</span>
                </div>
            </section>

            <section id="js-getStarted">
                <ol class="joyride-list" data-joyride>
                    <li data-id="js-getStarted" data-text="Next" data-class="custom so-awesome" data-options="tip_location:left;tip_animation:fade">
                        <p>Hello and welcome to the Heartbit tutorial. You'll see it's quite simple.</p>
                    </li>
                    <li data-id="js-keyfacts" data-text="Next" data-options="tip_location:top;tip_animation:fade" data-class="custom so-awesome">
                        <h4>Real Time Data</h4>
                        <p>This gives you the last metrics of your favorite coin on your favorite.</p>
                    </li>
                    <li data-id="js-showItemsView" data-text="Next" data-options="tip_location: bottom;tip_animation:fade" data-class="custom so-awesome">
                        <h4></h4>
                        <p>Choose the item, pair or platform you want to monitor.</p>
                    </li>

                    <li data-id="js-searchbar" data-text="Next" data-options="tip_location: bottom;tip_animation:fade" data-class="custom so-awesome">
                        <h4>Search Bar</h4>
                        <p>The quickest way to switch to your favorite platform or pair.</p>
                    </li>

                    <li data-id="last7days" data-text="Next" data-options="tip_location: bottom;tip_animation:fade" data-class="custom so-awesome">
                        <h4>Intraday or Long Term ?</h4>
                        <p>Easily change the timeframe.</p>
                    </li>

                    <li data-id="js-mainview" data-text="Next" data-options="tip_location: bottom;tip_animation:fade" data-class="custom so-awesome">
                        <h4>Trades and volumes</h4>
                        <p>Click and drag to get data analysis</p>
                    </li>
                    <li data-id="js-depthView" data-text="Next" data-options="tip_location: bottom;tip_animation:fade" data-class="custom so-awesome">
                        <h4>Depth</h4>
                        <p>Have an overview of the orderbook in real time.</p>
                    </li>

                    <li data-id="js-maxBid" data-text="Next" data-options="tip_location: bottom;tip_animation:fade" data-class="custom so-awesome">
                        <h4>Spread</h4>
                        <p>Check the spread and immediatly know what are the best bid and ask for your market.</p>
                    </li>

                    <li data-id="js-news" data-text="Next" data-options="tip_location: left;tip_animation:fade" data-class="custom so-awesome">
                        <h4>News Feed</h4>
                        <p>Get the news that impact the market.</p>
                    </li>
                    <li data-id="js-volumewidget" data-text="Next" data-options="tip_location: left;tip_animation:fade" data-class="custom so-awesome">
                        <h4>Volume Widget</h4>
                        <p>Compare volumes, see where the heat come from</p>
                    </li>


                    <li data-button="End">
                        <h4>Enjoy!</h4>
                        <p>Stay tuned, awesome features are coming!</p>
                    </li>
                </ol>
            </section>

            <a class="exit-off-canvas"></a>

        </div>
    </div>

    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-47874156-2', 'heartbit.io');
    ga('send', 'pageview');
    </script>

    <script data-main="/modules/app" src="/libs/require/require.js"></script>

</body>

</html>