<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heartbit</title>
    <link rel="icon" href="/images/favicon.ico" />
    <link href="/styles/all.css" rel="stylesheet" />
    <script src="/libs/modernizr.js"></script>
</head>

<body>

    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
            <nav class="tab-bar">
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" href="#">
                        <span></span>
                    </a>
                </section>

                <section class="middle tab-bar-section">
                    <h1 class="title">Foundation Responsive Template Package</h1>
                </section>
            </nav>

            <aside class="left-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li>
                        <label>MENU</label>
                    </li>
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active"><a href="index_off.html">Home-Off-Canvas</a>
                    </li>
                    <li><a href="#">Link 3</a>
                    </li>
                    <li><a href="#">Link 4</a>
                    </li>
                    <li><a href="#">Link 5</a>
                    </li>
                </ul>
            </aside>

            <section class="main-section">
                <!-- ORBIT -->
                <ul class="example-orbit-1" data-orbit>
                    <li>
                        <img src="http://placehold.it/1680x600&text=[img]" alt="slide 1" />
                        <div class="orbit-caption">
                            Caption One.
                        </div>
                    </li>
                    <li class="active">
                        <img src="http://placehold.it/1680x600&text=[img]" alt="slide 2" />
                        <div class="orbit-caption">
                            Caption Two.
                        </div>
                    </li>
                    <li>
                        <img src="http://placehold.it/1680x600&text=[img]" alt="slide 3" />
                        <div class="orbit-caption">
                            Caption Three.
                        </div>
                    </li>
                </ul>
                <!-- /ORBIT -->

                <!-- ONE -->
                <div class="row">
                    <div class="medium-12 columns">
                        <h1>Zurb Foundation Starter Template</h1>
                        <blockquote>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit ame.
                            <cite>Mister Who</cite>
                        </blockquote>
                    </div>
                </div>

                <!-- TWO -->
                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Two Columns
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-6 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                            <img src="http://placehold.it/600x400&text=[img]">
                        </a>
                    </div>

                    <div class="medium-6 columns">
                        <h3>Two Columns</h3>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <a href="#" class="button expand">Default Button</a>
                    </div>
                </div>

                <!-- TWO -->
                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Two Columns
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-6 columns">
                        <h3>Two Columns</h3>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <a href="#" class="button expand">Default Button</a>
                    </div>

                    <div class="medium-6 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                            <img src="http://placehold.it/600x400&text=[img]">
                        </a>
                    </div>
                </div>

                <!-- TWO -->
                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Two Columns
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-6 columns">
                        <div class="flex-video">
                            <iframe width="420" height="315" src="http://www.youtube.com/embed/hiuWibzRygY" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="medium-6 columns">
                        <h3>Two Columns</h3>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, est Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>

                <!-- TWO -->
                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Two Columns
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-6 columns">
                        <h3>Two Columns</h3>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                    </div>

                    <div class="medium-6 columns">
                        <!-- ORBIT -->
                        <ul class="example-orbit-2" data-orbit>
                            <li>
                                <img src="http://placehold.it/600x400&text=[img]" alt="slide 1" />
                                <div class="orbit-caption">
                                    Caption One.
                                </div>
                            </li>
                            <li class="active">
                                <img src="http://placehold.it/600x400&text=[img]" alt="slide 2" />
                                <div class="orbit-caption">
                                    Caption Two.
                                </div>
                            </li>
                            <li>
                                <img src="http://placehold.it/600x400&text=[img]" alt="slide 3" />
                                <div class="orbit-caption">
                                    Caption Three.
                                </div>
                            </li>
                        </ul>
                        <!-- /ORBIT -->
                    </div>
                </div>

                <!-- TWO -->
                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Two Columns
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                            <img src="http://placehold.it/600x400&text=[img]">
                        </a>
                        <h3>Two Columns</h3>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <a href="#" class="button">Default Button</a>
                    </div>

                    <div class="medium-6 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                            <img src="http://placehold.it/600x400&text=[img]">
                        </a>
                        <h3>Two Columns</h3>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <a href="#" class="button">Default Button</a>
                    </div>
                </div>

                <!-- TWO -->
                <div class="row">
                    <div class="large-4 columns">
                        <img src="http://placehold.it/400x300&text=[img]" />
                    </div>
                    <div class="large-8 columns">
                        <h4>Two Columns</h4>
                        <div class="row">
                            <div class="large-6 columns">
                                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
                                <a href="#">...default link</a>
                            </div>
                            <div class="large-6 columns">
                                <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
                                <a href="#">...default link</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="large-8 columns">
                        <h4>Two Columns</h4>
                        <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua <a href="#">default link</a> non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
                        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball <a href="#">default link</a> irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
                    </div>
                    <div class="large-4 columns">
                        <img src="http://placehold.it/400x300&text=[img]" />
                    </div>
                </div>

                <!-- THREE -->
                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Three Columns
                        </h1>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="medium-4 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                            <img src="http://placehold.it/600x400&text=[img]">
                        </a>
                        <h4>Three Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <a href="#" class="button small">Default Button</a>
                    </div>

                    <div class="medium-4 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                            <img src="http://placehold.it/600x400&text=[img]">
                        </a>
                        <h4>Three Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <a href="#" class="button small">Default Button</a>
                    </div>

                    <div class="medium-4 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                            <img src="http://placehold.it/600x400&text=[img]">
                        </a>
                        <h4>Three Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <a href="#" class="button small">Default Button</a>
                    </div>
                </div>

                <!-- FOUR -->
                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Four Columns
                        </h1>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="medium-3 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                            <img src="http://placehold.it/600x400&text=[img]">
                        </a>
                        <h4>Four Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                        <a href="#" class="button tiny">Default Button</a>
                    </div>

                    <div class="medium-3 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                            <img src="http://placehold.it/600x400&text=[img]">
                        </a>
                        <h4>Four Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                        <a href="#" class="button tiny">Default Button</a>
                    </div>

                    <div class="medium-3 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                            <img src="http://placehold.it/600x400&text=[img]">
                        </a>
                        <h4>Four Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                        <a href="#" class="button tiny">Default Button</a>
                    </div>

                    <div class="medium-3 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                            <img src="http://placehold.it/600x400&text=[img]">
                        </a>
                        <h4>Four Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                        <a href="#" class="button tiny">Default Button</a>
                    </div>
                </div>

                <!-- FOUR -->
                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Four Columns Grid
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-3 columns">
                        <a class="th" href="http://placehold.it/400x500&text=[img]">
                            <img src="http://placehold.it/400x500&text=[img]">
                        </a>
                        <h4>Four Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                        <a href="#">default link...</a>
                    </div>

                    <div class="medium-3 columns">
                        <a class="th" href="http://placehold.it/400x500&text=[img]">
                            <img src="http://placehold.it/400x500&text=[img]">
                        </a>
                        <h4>Four Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                        <a href="#">default link...</a>
                    </div>

                    <div class="medium-3 columns">
                        <a class="th" href="http://placehold.it/400x500&text=[img]">
                            <img src="http://placehold.it/400x500&text=[img]">
                        </a>
                        <h4>Four Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                        <a href="#">default link...</a>
                    </div>

                    <div class="medium-3 columns">
                        <a class="th" href="http://placehold.it/400x500&text=[img]">
                            <img src="http://placehold.it/400x500&text=[img]">
                        </a>
                        <h4>Four Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                        <a href="#">default link...</a>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-3 columns">
                        <a class="th" href="http://placehold.it/400x500&text=[img]">
                            <img src="http://placehold.it/400x500&text=[img]">
                        </a>
                        <h4>Four Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                        <a href="#">default link...</a>
                    </div>

                    <div class="medium-3 columns">
                        <a class="th" href="http://placehold.it/400x500&text=[img]">
                            <img src="http://placehold.it/400x500&text=[img]">
                        </a>
                        <h4>Four Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                        <a href="#">default link...</a>
                    </div>

                    <div class="medium-3 columns">
                        <a class="th" href="http://placehold.it/400x500&text=[img]">
                            <img src="http://placehold.it/400x500&text=[img]">
                        </a>
                        <h4>Four Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                        <a href="#">default link...</a>
                    </div>

                    <div class="medium-3 columns">
                        <a class="th" href="http://placehold.it/400x500&text=[img]">
                            <img src="http://placehold.it/400x500&text=[img]">
                        </a>
                        <h4>Four Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                        <a href="#">default link...</a>
                    </div>
                </div>

                <!-- PAGINATION -->
                <div class="row">
                    <div class="medium-12 columns">
                        <ul class="pagination">
                            <li class="arrow unavailable"><a href="">&laquo;</a>
                            </li>
                            <li class="current"><a href="">1</a>
                            </li>
                            <li><a href="">2</a>
                            </li>
                            <li><a href="">3</a>
                            </li>
                            <li><a href="">4</a>
                            </li>
                            <li class="unavailable"><a href="">&hellip;</a>
                            </li>
                            <li><a href="">12</a>
                            </li>
                            <li><a href="">13</a>
                            </li>
                            <li class="arrow"><a href="">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>



                <!-- PRICING THREE -->
                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Pricing Three
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-4 columns">
                        <ul class="pricing-table">
                            <li class="title">Standard</li>
                            <li class="price">$99.99</li>
                            <li class="description">An awesome description</li>
                            <li class="bullet-item">1 Database</li>
                            <li class="bullet-item">5GB Storage</li>
                            <li class="bullet-item">20 Users</li>
                            <li class="cta-button"><a class="button" href="#">Buy Now</a>
                            </li>
                        </ul>
                    </div>

                    <div class="medium-4 columns">
                        <ul class="pricing-table">
                            <li class="title">Standard</li>
                            <li class="price">$99.99</li>
                            <li class="description">An awesome description</li>
                            <li class="bullet-item">1 Database</li>
                            <li class="bullet-item">5GB Storage</li>
                            <li class="bullet-item">20 Users</li>
                            <li class="cta-button"><a class="button" href="#">Buy Now</a>
                            </li>
                        </ul>
                    </div>

                    <div class="medium-4 columns">
                        <ul class="pricing-table">
                            <li class="title">Standard</li>
                            <li class="price">$99.99</li>
                            <li class="description">An awesome description</li>
                            <li class="bullet-item">1 Database</li>
                            <li class="bullet-item">5GB Storage</li>
                            <li class="bullet-item">20 Users</li>
                            <li class="cta-button"><a class="button" href="#">Buy Now</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- PRICING FOUR -->
                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Pricing Four
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-3 columns">
                        <ul class="pricing-table">
                            <li class="title">Standard</li>
                            <li class="price">$99.99</li>
                            <li class="description">An awesome description</li>
                            <li class="bullet-item">1 Database</li>
                            <li class="bullet-item">5GB Storage</li>
                            <li class="bullet-item">20 Users</li>
                            <li class="cta-button"><a class="button" href="#">Buy Now</a>
                            </li>
                        </ul>
                    </div>

                    <div class="medium-3 columns">
                        <ul class="pricing-table">
                            <li class="title">Standard</li>
                            <li class="price">$99.99</li>
                            <li class="description">An awesome description</li>
                            <li class="bullet-item">1 Database</li>
                            <li class="bullet-item">5GB Storage</li>
                            <li class="bullet-item">20 Users</li>
                            <li class="cta-button"><a class="button" href="#">Buy Now</a>
                            </li>
                        </ul>
                    </div>

                    <div class="medium-3 columns">
                        <ul class="pricing-table">
                            <li class="title">Standard</li>
                            <li class="price">$99.99</li>
                            <li class="description">An awesome description</li>
                            <li class="bullet-item">1 Database</li>
                            <li class="bullet-item">5GB Storage</li>
                            <li class="bullet-item">20 Users</li>
                            <li class="cta-button"><a class="button" href="#">Buy Now</a>
                            </li>
                        </ul>
                    </div>

                    <div class="medium-3 columns">
                        <ul class="pricing-table">
                            <li class="title">Standard</li>
                            <li class="price">$99.99</li>
                            <li class="description">An awesome description</li>
                            <li class="bullet-item">1 Database</li>
                            <li class="bullet-item">5GB Storage</li>
                            <li class="bullet-item">20 Users</li>
                            <li class="cta-button"><a class="button" href="#">Buy Now</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- ORBIT THUMBS -->
                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Orbit Thumbnails
                        </h1>
                    </div>
                </div>

                <ul class="example-orbit-3" data-orbit style="background-color: #eeeeee;">
                    <li>
                        <div class="row">
                            <div class="medium-3 columns">
                                <a class="th" href="http://placehold.it/300x300&text=[img]">
                                    <img src="http://placehold.it/300x300&text=[img]">
                                </a>
                                <h4>Four Columns</h4>
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                                <a href="#" class="button tiny">Default Button</a>
                            </div>
                            <div class="medium-3 columns">
                                <a class="th" href="http://placehold.it/300x300&text=[img]">
                                    <img src="http://placehold.it/300x300&text=[img]">
                                </a>
                                <h4>Four Columns</h4>
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                                <a href="#" class="button tiny">Default Button</a>
                            </div>
                            <div class="medium-3 columns">
                                <a class="th" href="http://placehold.it/300x300&text=[img]">
                                    <img src="http://placehold.it/300x300&text=[img]">
                                </a>
                                <h4>Four Columns</h4>
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                                <a href="#" class="button tiny">Default Button</a>
                            </div>
                            <div class="medium-3 columns">
                                <a class="th" href="http://placehold.it/300x300&text=[img]">
                                    <img src="http://placehold.it/300x300&text=[img]">
                                </a>
                                <h4>Four Columns</h4>
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                                <a href="#" class="button tiny">Default Button</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="medium-3 columns">
                                <a class="th" href="http://placehold.it/300x300&text=[img]">
                                    <img src="http://placehold.it/300x300&text=[img]">
                                </a>
                                <h4>Four Columns</h4>
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                                <a href="#" class="button tiny">Default Button</a>
                            </div>
                            <div class="medium-3 columns">
                                <a class="th" href="http://placehold.it/300x300&text=[img]">
                                    <img src="http://placehold.it/300x300&text=[img]">
                                </a>
                                <h4>Four Columns</h4>
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                                <a href="#" class="button tiny">Default Button</a>
                            </div>
                            <div class="medium-3 columns">
                                <a class="th" href="http://placehold.it/300x300&text=[img]">
                                    <img src="http://placehold.it/300x300&text=[img]">
                                </a>
                                <h4>Four Columns</h4>
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                                <a href="#" class="button tiny">Default Button</a>
                            </div>
                            <div class="medium-3 columns">
                                <a class="th" href="http://placehold.it/300x300&text=[img]">
                                    <img src="http://placehold.it/300x300&text=[img]">
                                </a>
                                <h4>Four Columns</h4>
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                                <a href="#" class="button tiny">Default Button</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="medium-3 columns">
                                <a class="th" href="http://placehold.it/300x300&text=[img]">
                                    <img src="http://placehold.it/300x300&text=[img]">
                                </a>
                                <h4>Four Columns</h4>
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                                <a href="#" class="button tiny">Default Button</a>
                            </div>
                            <div class="medium-3 columns">
                                <a class="th" href="http://placehold.it/300x300&text=[img]">
                                    <img src="http://placehold.it/300x300&text=[img]">
                                </a>
                                <h4>Four Columns</h4>
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                                <a href="#" class="button tiny">Default Button</a>
                            </div>
                            <div class="medium-3 columns">
                                <a class="th" href="http://placehold.it/300x300&text=[img]">
                                    <img src="http://placehold.it/300x300&text=[img]">
                                </a>
                                <h4>Four Columns</h4>
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                                <a href="#" class="button tiny">Default Button</a>
                            </div>
                            <div class="medium-3 columns">
                                <a class="th" href="http://placehold.it/300x300&text=[img]">
                                    <img src="http://placehold.it/300x300&text=[img]">
                                </a>
                                <h4>Four Columns</h4>
                                <p>Stet clita kasd gubergren, no sea takimata sanctus est</p>
                                <a href="#" class="button tiny">Default Button</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- /ORBIT -->

                <!-- SIX -->
                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Six Columns
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <ul class="medium-block-grid-6">
                            <li>
                                <a href="#">
                                    <img src="http://placehold.it/160x60&text=[img]" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="http://placehold.it/160x60&text=[img]" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="http://placehold.it/160x60&text=[img]" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="http://placehold.it/160x60&text=[img]" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="http://placehold.it/160x60&text=[img]" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="http://placehold.it/160x60&text=[img]" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- FORM -->
                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Contact Form
                        </h1>
                    </div>
                </div>

                <form method="post" action="#" data-abide>
                    <div class="row">
                        <div class="medium-6 columns">
                            <label>Firsname
                                <input type="text" id="firstname" name="firstname" placeholder="Firsname" required pattern="[a-zA-Z]+" />
                            </label>
                            <small class="error">Firstname is required and must be a string.</small>
                        </div>
                        <div class="medium-6 columns">
                            <label>Lastname
                                <input type="text" id="lastname" name="lastname" placeholder="Lastname" required pattern="[a-zA-Z]+" />
                            </label>
                            <small class="error">Lastname is required and must be a string.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="medium-6 columns">
                            <label>Phone
                                <input type="text" id="phone" name="phone" placeholder="Phone" />
                            </label>
                        </div>
                        <div class="medium-6 columns">
                            <label>Email
                                <input type="text" id="email" name="email" placeholder="Email" required />
                            </label>
                            <small class="error">An email address is required.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-12 columns">
                            <label>Message
                                <textarea id="message" name="message" placeholder="Message" required></textarea>
                            </label>
                            <small class="error">An message is required.</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-12 columns">
                            <button class="expand">Send</button>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="large-12 columns">
                        <p class="text-center"><i><a href="http://www.responsivewebmobile.com" target="_blank">@responsivewebmobile</a></i>
                        </p>
                    </div>
                </div>
            </section>

            <a class="exit-off-canvas"></a>

        </div>
    </div>

    <script src="/libs/jquery.min.js"></script>
    <script src="/libs/foundation.min.js"></script>
    <script>
    $(document).foundation();
    </script>

</body>

</html>
