<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heartbit - market's pulse</title>
    <link rel="icon" href="/images/favicon.ico" />
    <link href="/styles/all.css" rel="stylesheet" />
    <script src="/libs/modernizr.js"></script>
</head>

<body>

    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">

            <div >
                <nav class="top-bar data-topbar">
                    <ul class="title-area">
                        <li class="name">
                            <h1><a href="/">Heartbit - market's pulse</a>
                            </h1>
                        </li>
                        <li class="toggle-topbar menu-icon"><a href="#">MENU</a>
                        </li>
                    </ul>

                    <section class="top-bar-section">
                        <!-- Right Nav Section -->
                        <ul class="right">
                            <li>
                                <a href="http://blog.heartbit.io/">Blog</a>
                            </li>
                            <li class="divider"></li>
                            <li class="has-form">
                                <a href="/app" class="button">Webapp</a>
                            </li>
                        </ul>

                    </section>
                </nav>
            </div>

            <section class="main-section">
                

                <div class="row">
                    <div class="medium-12 columns text-center">
                        <h1>
                            Get crypto market insights in second.
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Features
                        </h1>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="medium-4 large-4 small-12 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                           <iframe width="300" height="200" src="http://localhost:9090/embed/price" ></iframe>
                        </a>
                        <h4>Price</h4>
                        <p>The last prices from BTC/USD platforms</p>
                    </div>


                    <div class="medium-4 large-4 small-12 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                           <iframe width="400" height="200" src="http://localhost:9090/embed/volume" ></iframe>
                        </a>
                        <h4>Volumes</h4>
                        <p>All the bitcoins volumes for the last 24 hours / by platform </p>
                    </div>

                    <div class="medium-4 large-4 small-12 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                           <iframe width="400" height="200" src="http://localhost:9090/embed/marketcap" ></iframe>
                        </a>
                        <h4>MarketCap</h4>
                        <p>The last trades prices X Total Number of Bitcoins</p>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <a class="button large bigButton" href="/app" style="font-size:2em;font-weight:bold" > TRY NOW ! </a>
                    </div>
                </div>
                <div class="row">
                 
                    <div class="medium-8 large-8 small-12 columns">
                        <h1>
                            News
                        </h1>
                        <iframe width="600" height="400" src="http://localhost:9090/embed/news" ></iframe>
                    </div>
                    <div class="medium-4 large-4 small-12 columns">
                        <h1>
                            Social links
                        </h1>


                    </div>
                </div>

                
            </section>

            <a class="exit-off-canvas"></a>

        </div>
    </div>

    <script src="/libs/jquery.min.js"></script>
    <script src="/libs/foundation.min.js"></script>
    
    <script>
    $(document).foundation();
    </script>

</body>

</html>
