<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heartbit - market's pulse</title>
    <link rel="icon" href="/images/favicon.ico" />
    <link href="/styles/all.css" rel="stylesheet" />
    <script src="/libs/modernizr.js"></script>
</head>

<body>

    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">

            <div class="fixed">
                <nav class="top-bar data-topbar">
                    <ul class="title-area">
                        <li class="name">
                            <h1><a href="/">Heartbit - market's pulse</a>
                            </h1>
                        </li>
                        <li class="toggle-topbar menu-icon"><a href="#">MENU</a>
                        </li>
                    </ul>

                    <section class="top-bar-section">
                        <!-- Right Nav Section -->
                        <ul class="right">
                            <li>
                                <a href="http://blog.heartbit.io/">Blog</a>
                            </li>
                            <li class="divider"></li>
                            <li class="has-form">
                                <a href="/webapp" class="button">Webapp</a>
                            </li>
                        </ul>

                    </section>
                </nav>
            </div>

            <section class="main-section">
                <!-- ORBIT -->
                <ul class="example-orbit-1" data-orbit>
                    <li>
                        <img src="http://placehold.it/1680x600&text=[img]" alt="slide 1" />
                        <div class="orbit-caption">
                            Caption One.
                        </div>
                    </li>
                    <li class="active">
                        <img src="http://placehold.it/1680x600&text=[img]" alt="slide 2" />
                        <div class="orbit-caption">
                            Caption Two.
                        </div>
                    </li>
                    <li>
                        <img src="http://placehold.it/1680x600&text=[img]" alt="slide 3" />
                        <div class="orbit-caption">
                            Caption Three.
                        </div>
                    </li>
                </ul>
                <!-- /ORBIT -->


                <div class="row">
                    <div class="medium-12 columns text-center">
                        <h1>
                            Get crypto market insights in second.
                        </h1>
                    </div>
                    <!-- <div class="large-8 columns">
                        <div class="row">
                            <div class="large-6 columns">
                                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
                            </div>
                        </div>
                    </div> -->
                </div>

                <!-- THREE -->
                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Features
                        </h1>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="medium-4 large-4 small-12 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                            <img src="http://placehold.it/600x400&text=[img]">
                        </a>
                        <h4>Three Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <!-- <a href="#" class="button small">Default Button</a> -->
                    </div>

                    <div class="medium-4 large-4 small-12 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                            <img src="http://placehold.it/600x400&text=[img]">
                        </a>
                        <h4>Three Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <!-- <a href="#" class="button small">Default Button</a> -->
                    </div>

                    <div class="medium-4 large-4 small-12 columns">
                        <a class="th" href="http://placehold.it/600x400&text=[img]">
                            <img src="http://placehold.it/600x400&text=[img]">
                        </a>
                        <h4>Three Columns</h4>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <!-- <a href="#" class="button small">Default Button</a> -->
                    </div>
                </div>

                <div class="row">
                    <div class="medium-4 large-4 small-12 columns">
                        <h1>
                            Contact Form
                        </h1>
                        <form method="post" action="#" data-abide>

                            <div class="row">
                                <div class="medium-6 columns">
                                    <label>Firsname
                                        <input type="text" id="firstname" name="firstname" placeholder="Firsname" required pattern="[a-zA-Z]+" />
                                    </label>
                                    <small class="error">Firstname is required and must be a string.</small>
                                </div>
                                <div class="medium-6 columns">
                                    <label>Email
                                        <input type="text" id="email" name="email" placeholder="Email" required />
                                    </label>
                                    <small class="error">An email address is required.</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-12 columns">
                                    <label>Message
                                        <textarea id="message" name="message" placeholder="Message" required></textarea>
                                    </label>
                                    <small class="error">An message is required.</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="large-12 columns">
                                    <button class="expand">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="medium-4 large-4 small-12 columns">
                        <h1>
                            Quotations
                        </h1>
                        <blockquote>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit ame.
                            <cite>CoinDesk</cite>
                        </blockquote>
                        <blockquote>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit ame.
                            <cite>Satochi</cite>
                        </blockquote>
                    </div>
                    <div class="medium-4 large-4 small-12 columns">
                        <h1>
                            Social links
                        </h1>
                        
                        
                    </div>
                </div>

                <!-- PRICING THREE -->
                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Donation
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-6 columns">
                        <ul class="pricing-table">
                            <li class="title">Bitcoin</li>
                            <li class="price">0.0001</li>
                            <li class="description">An awesome donation</li>
                            <li class="cta-button"><a class="button" href="#">Take that dude!</a>
                            </li>
                        </ul>
                    </div>

                    <div class="medium-6 columns">
                        <ul class="pricing-table">
                            <li class="title">Dogecoin</li>
                            <li class="price">100</li>
                            <li class="description">An awesome donation</li>
                            <li class="cta-button"><a class="button" href="#">Take that dude!</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <a class="exit-off-canvas"></a>

        </div>
    </div>

    <script src="/libs/jquery.min.js"></script>
    <script src="/libs/foundation.min.js"></script>
    <script>
    $(document).foundation();
    </script>

</body>

</html>
