<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heartbit - market's pulse</title>
    <link rel="icon" href="/images/favicon.ico" />
    <link href="/styles/all.css" rel="stylesheet" />
    <script src="/libs/modernizr.js"></script>
</head>

<body>

    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">

            <div>
                <nav class="top-bar data-topbar">
                    <ul class="title-area">
                        <li class="name">
                            <h1><a href="/">Heartbit - market's pulse</a>
                            </h1>
                        </li>
                        <li class="toggle-topbar menu-icon"><a href="#">MENU</a>
                        </li>
                    </ul>

                    <section class="top-bar-section">
                        <!-- Right Nav Section -->
                        <ul class="right">
                            <li>
                                <a href="http://blog.heartbit.io/">Blog</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/widgets">Widgets</a>
                            </li>
                            <li class="divider"></li>
                            <li class="has-form">
                                <a href="/app" class="button">Webapp</a>
                            </li>
                        </ul>

                    </section>
                </nav>
            </div>

            <section class="main-section">

                <div class="row">
                    <div class="medium-12 columns text-center">
                        <h1>
                            Get crypto market insights in second.
                        </h1>
                    </div>
                </div>


                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Installation
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-6 columns">
                        <h3>Bla bla</h3>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="medium-6 columns">
                        <h3>Bla bla</h3>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>

                <!-- TEMPLATE WIDGET -->
                <div class="row">
                    <div class="medium-5 columns">
                        <h1>
                            Available widgets
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-6 columns">
                        <iframe frameBorder="0" width="300px" height="270px" src="http://localhost:9090/embed/price"></iframe>
                    </div>

                    <div class="medium-6 columns">
                        <h3>Last prics</h3>
                        <p>The last prices from BTC/USD platforms</p>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <a href="#" class="button expand">Get link!</a>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-6 columns">
                        <h3>Volumes</h3>
                        <p>All the bitcoins volumes for the last 24 hours / by platform</p>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <a href="#" class="button expand">Download</a>
                    </div>

                    <div class="medium-6 columns">
                        <iframe frameBorder="0" width="400px" height="200px" src="http://localhost:9090/embed/volume"></iframe>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-6 columns">
                        <h3>Coming soon...</h3>
                        <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                    </div>

                </div>
            
            </section>

            <a class="exit-off-canvas"></a>

        </div>
    </div>

    <script src="/libs/jquery.min.js"></script>
    <script src="/libs/foundation.min.js"></script>

    <script>
        $(document).foundation();
    </script>

</body>

</html>
