.arc path {
	stroke: #fff;
	fill:blue,;
}

.title {
	text-anchor:middle;
	font-size:14px;
}

.volTitle {
	font-size:12px;
	text-anchor:middle;
}
.outLine {
	stroke:black;
	stroke-width:0.5px;
	opacity:0.25;
}
.pourcent {
	font-size:10px;
	text-anchor:middle;
}