<ul class="off-canvas-list">

    <li>
        <label>Overview</label>
    </li>
    <li>
        <a href="#" id="js-marketcap">Marketcap</a>
    </li>
   
    <li class="divider"></li>
    <li>
        <a href="#" id="js-weeknews">Week Facts</a>
    </li>
    <li>
        <label>Tools</label>
    </li>
     <li class="divider"></li>
    <li>
        <a href="#" id="js-calculator">Calculator</a>
    </li>
<!--     <li>
        <a href="#" id="js-ressources">Ressources</a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="#" id="js-shortcuts">Shortcuts</a>
    </li> -->
</ul>

<div id="js-marketcapModal" class="reveal-modal" data-reveal>
</div>

<div id="js-calculatorModal" class="reveal-modal" data-reveal>
</div>

<div id="js-weeknewsModal" class="reveal-modal" data-reveal>
</div>

<div id="js-shortcutsModal" class="reveal-modal" data-reveal>
</div>

