doctype html
html(lang="en")

	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='./dist/css/app.css')
		link(href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel='stylesheet')

	body

		header#topbar.navbar
		#main.container-fluid
			.row
				#sidebar-left.col-xs-2.col-sm-2
				#content.col-xs-12.col-sm-10
		#bottombar

		script(src='./dist/js/app.js')
