<div class="row">
    <!-- <div class="column large-6 medium-6 small-6 js-newsContent newsContent">
	</div> - 
 -->
    <div class="column large-12 medium-12 small-12">
        <dl class="accordion newsList" data-accordion>
            <%_.each(newsArray, function(news, index){%>
                <dd>
                <!--  -->
                    <a href="#news-<%=index%>" class="news" id="<%=news.guid%>">
	                    <%=moment(news.pubDate).fromNow()%>
	                    <img width="25px" height="25px" src="<%=news.params.logo%>"/> 
	                    <%=news.title%> 
	                    <span class="icon-ok hide right"></span>
                    </a>
                    <div id="news-<%=index%>" class="content">
                        <%=news.description%>
                    </div>
                </dd>
                <% }); %>
        </dl>
    </div>
</div>
