@import "../external/bootstrap/css/bootstrap";
@import "../external/font-awesome/css/font-awesome";
@import "../external/devoops/css/style";
@import "../external/gridster/gridster";
@import "../external/gridster/gridster.responsive";
@import "../chart/mainchart";

.item {
  display: block; 
  position: absolute;
}

body {
	font-family: "lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}