<div class="row controllerView">
    <div class="small-12 medium-12 large-12 columns controllerBox">

        <div class="row collapse">

            <div class="right small-6 medium-6 large-12 columns">
                <div class="button-bar">
                    <ul class="button-group">
                        <li>
                            <a href="#" id="js-showItemsView" class="tiny button">
                                <%=selectedItem%>
                            </a>
                            <div id="js-itemsViewModal" class="reveal-modal" data-reveal></div>
                        </li>
                        <li>
                            <a href="#" id="js-showPairsView" class="tiny button">
                                <%=selectedPair%>
                            </a>
                            <div id="js-pairsViewModal" class="reveal-modal" data-reveal></div>
                        </li>
                       
                        <li>
                            <a href="#" id="js-showPlatformsView" class="tiny button">
                                <%=selectedPlatform%>
                            </a>
                            <div id="js-platformsViewModal" class="reveal-modal" data-reveal></div>
                        </li>
                      
                    </ul>
                </div>
            </div>

            <div class="small-6 medium-6 large-12 columns">
                <input type="text" class="searchbar" id="js-searchbar" placeholder="Search by platform, coin or currency...">
                <div class="searchBox left columns small-12 medium-6 large-4" id="js-searchResults">
                </div>
            </div>

        </div>
    </div>

</div>
