<div class="row">
    <div class="large-6 medium-6 small-6 columns">
        <input class="" id="js-searchbar" placeholder=" Search cryptos, platforms...">
    </div>
    
    <div class="large-6 medium-6 small-6 columns">
        <a href="#" id="js-showItemsView" class="small button">BTC</a>
        <div id="js-itemsViewModal" class="reveal-modal" data-reveal></div>

        <a href="#" id="js-showPlatformsView" class="small button">BTCE</a>
        <div id="js-platformsViewModal" class="reveal-modal" data-reveal></div>

        <a href="#" id="js-showCurrenciesView">USD</a>
        <div id="js-currenciesViewModal" class="reveal-modal" data-reveal></div>
    </div>
</div>

<!-- <li class="has-form">
        <div class="row collapse">
            <div class="large-8 medium-4 small-4 columns">
                <input id="js-itemSearchbar" placeholder=" Search crypto">
            </div>
            <div class="large-4 medium-4 small-4 columns">
                <a href="#" id="js-currentItem" class="button">
                    BTC
                </a>
            </div>
        </div>
        <ul id="js-searchItemList">
        </ul>
    </li>
    <li class="has-form">
        <a href="#" id="js-currentPlatform" class="button">BTCE</a>
    </li>
     <li class="has-form">
        <a href="#" id="js-currentCurrency" class="button">USD</a>
    </li> -->

<!-- <div class="row">
    <div class="large-5 medium-5 small-5 columns">
        <a href="#" class="small button dropdown" data-dropdown="currency" data-options="is_hover:true">
            <%=selectedCurrency%>
        </a>
        <ul id="currency" class="f-dropdown" data-dropdown-content>
            <% _.each(compatibleCurrencies, function(currency){ if(currency!==selectedCurrency) {%>
                <li>
                    <a href="#" id="<%=currency%>" class="js-currency">
                        <%=currency%>
                    </a>
                </li>
                <% }}); %>
        </ul>
    </div>

    <div class="large-5 medium-5 small-5 columns">
        <a href="#" data-dropdown="list-platform" class="small [radius round] button dropdown" data-options="is_hover:true">
            <%=selectedPlatform%>
        </a>
        <ul id="list-platform" class="f-dropdown" data-dropdown-content>
            <% _.each(compatiblePlatforms, function(platform){ if(platform!==selectedPlatform) {%>
                <li>
                    <a href="#" id="<%=platform%>" class="js-platform">
                        <%=platform%>
                    </a>
                </li>
                <% }}); %>
        </ul>
    </div>
 -->
<!-- </div> -->
