<div class="row controllerView">
    <div class="small-12 medium-12 large-12 columns controllerBox">

        <div class="row collapse">

            <div class="small-12 medium-12 large-12 columns">
                <div class="button-bar">
                    <ul class="button-group">
                        <li>
                            <a href="#" id="js-showItemsView" class="tiny button">
                                <%=selectedItem%>
                            </a>
                            <div id="js-itemsViewModal" class="reveal-modal" data-reveal></div>
                        </li>
                        <li>
                            <a href="#" id="js-showPlatformsView" class="tiny button">
                                <%=selectedPlatform%>
                            </a>
                            <div id="js-platformsViewModal" class="reveal-modal" data-reveal></div>
                        </li>
                        <li>
                            <a href="#" id="js-showPairsView" class="tiny button">
                                <%=selectedPair%>
                            </a>
                            <div id="js-pairsViewModal" class="reveal-modal" data-reveal></div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="small-10 medium-10 large-10 columns">
                <input type="text" class="searchbar" id="js-searchbar" placeholder="Search cryptos, platforms, pairs...">
            </div>
            <div class="small-2 medium-2 large-2 columns">
                <a href="#" class="button postfix searchbutton">Go</a>
            </div>

            <div class="searchBox left large-4 medium-11 small-11 columns" id="js-searchResults">
            </div>

        </div>
    </div>

</div>
