<div class="row panel">

    <div class="large-4 medium-4 small-4 columns">
        Items
        <ul>
        <%_.each(items,function(item){%>
            <li class="js-item"><a class="js-item item" id="<%=item.id%>"><%=item.name%></a></li>
        <%})%>
        </ul>
    </div>

    <div class="large-4 medium-4 small-4 columns">
        Platforms
        <ul>
            <%_.each(platforms,function(platform){%>
            <li><a class="js-platform" id="<%=platform.id%>"><%=platform.get('id')%></a></li>
        <%})%>
        </ul>
    </div>

    <div class="large-4 medium-4 small-4 columns">
        Pair
        <ul>
            <%_.each(pairs,function(pair){%>
            <li><a class="js-pair" id="<%=pair.id%>"><%=pair.get('id')%></a></li>
        <%})%>
        </ul>
    </div>
</div>
