<div class="marketcap offcanvasmenu">
     <div class="marketcapChart" id="js-marketcapChart"></div>
    <div class="globalDiv" >
     
    	<h1 >Marketcap  <!-- <img width="40" height="27" style="float:none" src="http://1.bp.blogspot.com/-cMd4p4D3yLo/Uu7-FL-5MHI/AAAAAAAAAiw/msWsPjJccjM/s1600/bitcoinLogo1000.png" /> -->
    	</h1>

        <div id="marketcapContainer"  style="margin-top: 10px;">
            <table id="marketcapTable">
                 <thead>
                    <tr>
                        <th >Rank</th>
                        <th>CryptoCurrencies</th>
                        <th width="150">Marketcap</th>
                        <th width="150">Price & Volume (24h)</th>
                        <th width="150">%Change (24h)</th>
                        <th width="150">Correlation index</th>
                    </tr>
                </thead>
            <% _.each(marketcapTemplate.marketcap,function(marketcap){%>   
               
                <tr>
                    <td id="rank_<%=marketcap.name%>"> </td>
                    <td id="<%=marketcap.name%>"></td>
                    <td id="marketcap_<%=marketcap.name%>"></td>
                    <td id="price_volume_<%=marketcap.name%>"></td>
                    <td id="change_<%=marketcap.name%>"></td>
                    <td id="correlation_<%=marketcap.name%>"></td>
                    
                </tr>
                
           

            <%})%>
            </table>
        </div>
       
    </div>

</div>