<h1>Week Facts</h1>
</table>
<cite>All the facts that really mattered this week</cite>
<span><b>&nbsp; Week 29: 07/06 – 07/13 </span></b> 
    </br>
    </br>

    <table class="newsTable" id="weeknews">
        <thead>
            <th></th>
            <th>Description</th>
            <th>Source</th>
            <th>Positive/Negative Level</th>
            <th>Price Impact</th>
        </thead>
        <tbody>
            <tr>
                <th>Best Start-Up News</th>
                <td class="description">Philippines Startups Aim to Fulfil Bitcoin’s Remittance Promise</td>
                <td><a href="http://www.coindesk.com/philippines-startups-fulfil-bitcoins-remittance-promise/" target="_blank">CoinDesk article <img class="weeklogo"src="images/LogosAutres/coindesk.jpg"></img></a> 
                </td>
                <td class="positive">Positive</td>
                <td>None</td>
                </td>
            </tr>
            <tr>
                <th>Best Adoption News</th>
                <td class="description">Winklevoss Bitcoin ETF Will Likely Pass Federal Scrutiny, Eventually, Experts Say</td>
                <td><a href="http://www.ibtimes.com/winklevoss-bitcoin-etf-will-likely-pass-federal-scrutiny-eventually-experts-say-1626106" target="_blank">International Business Times article <img class="weeklogo"src="images/LogosAutres/IBT.jpg"></a> 
                </td>
                <td class="extremely_positive">Highly positive</td>
                <td>Hard to identify</td>
            </tr>
            <tr>
                <th>Other Important Things</th>
                <td class="description">CoinSummit - London</td>
                <td><a href="http://www.coinsumm.it/" target="_blank">Coinsumm.it </a> 
                </td>
                <td class="neutral">Neutral</td>
                <td>none</td>
            </tr>
            <tr>
                <th>Regulation News of the Week</th>
                <td class="description">French Government Outlines New Regulations for Bitcoin Market Transparency</td>
                <td><a href="http://www.coindesk.com/french-government-outlines-new-regulations-bitcoin-market-transparency/" target="_blank">CoinDesk article <img class ="weeklogo" src="images/LogosAutres/coindesk.jpg"> </image></a> 
                </td>
                <td class="positive">Positive</td>
                <td> Hard to identify </td>
            </tr>


        </tbody>


    </table>
    <table>
        <tfoot>
            <tr>
                <td>
                    <img src="images/weekfacts/weekfacts-13-07-commented.png">
                </td>
            </tr>
        </tfoot>
    </table>

    <a class="close-reveal-modal">&#215;</a>
