<h1>Week Facts</h1>
</table>
<cite>All the facts that really mattered this week</cite>
<span><b>&nbsp; Week 15: 03/30 – 04/06 </span></b> 
    </br>
    </br>

    <table class="newsTable" id="weeknews">
        <thead>
            <th></th>
            <th>Description</th>
            <th>Source</th>
            <th>Positive/Negative Level</th>
            <th>Price Impact</th>
        </thead>
        <tbody>
            <tr>
                <th>Best Start-Up News</th>
                <td class="description">Libra will help people to comply with the new IRS regulation</td>
                <td><a href="http://www.coindesk.com/libra-bitcoin-tax-service-irs-guidance/" target="_blank">CoinDesk article <img class="weeklogo"src="images/LogosAutres/coindesk.jpg"></img></a> 
                    </br> <a href="http://www.libratax.com/" target="_blank"> Libratax (official website) </a>
                </td>
                <td class="positive">Positive</td>
                <td>None</td>
                </td>
            </tr>
            <tr>
                <th>Best Merchant Adoption News</th>
                <td class="description">Square allows merchants to be paid with Bitcoin on Square Market</td>
                <td><a href="http://www.coindesk.com/mobile-payments-square-pay-with-bitcoin-option-square-market/" target="_blank">CoinDesk article <img class="weeklogo"src="images/LogosAutres/coindesk.jpg"></a> 
                    </br> <a href="http://corner.squareup.com/2014/03/square-market-accepts-bitcoin.html" target="_blank"> Original Square Statement</a>
                </td>
                <td class="extremely_positive">Highly positive</td>
                <td>Hard to identify</td>
            </tr>
            <tr>
                <th>Other Important Things</th>
                <td class="description">Ebay Adds Virtual Currency Section to Allow Bitcoin and Dogecoin Trading</td>
                <td><a href="http://www.ibtimes.co.uk/ebay-adds-virtual-currency-section-allow-bitcoin-dogecoin-trading-1443425" target="_blank">Internation Business Times article <img class="weeklogo"src="images/LogosAutres/IBT.jpg"></img></a> 
                    </br> <a href="http://www.ebay.com/chp/Virtual-Currency-/179197" target="_blank"> Link to Ebay "Virtual Currency" category</a>
                </td>
                <td class="positive">Positive</td>
                <td>Hard to identify</td>
            </tr>
            <tr>
                <th>Bad News of the Week</th>
                <td class="description">Chinese bitcoin exchange closes deposits after central bank clampdown</td>
                <td><a href="http://www.theguardian.com/technology/2014/apr/03/chinese-bitcoin-exchange-closes-after-central-bank-clampdown" target="_blank">TheGuardian article <img src="images/LogosAutres/theguardian.jpg"> </image></a> 
                </td>
                <td class="extremely_negative">Highly negative</td>
                <td><b> Clearly Identified </b>
                </td>
            </tr>


        </tbody>


    </table>
    <table>
        <tfoot>
            <tr>
                <td>
                    <img src="images/charts/timeline.png">
                </td>
            </tr>
        </tfoot>
    </table>

    <a class="close-reveal-modal">&#215;</a>
