#CandlesVolumes {
	height: 380px;
	width: 920px;
}
#MainChartWidget {
    padding:15px;
    height: 100%;
    overflow-y: hidden;
}
#TickerWidget{
  padding:3px;
}
#TickerWidget ul {
  list-style-type:none;
  width:50%;
}
#TickerWidget ul li{
  list-style-type:none;
  float:left;
  width:100%;
  display:inline;
}
#TickerWidget ul.right li{
  float:none;
  display:block;
}
#TickerWidget ul.right{
  float:right;
}
.dateField {
  float:right;
}
.platformSelector {
  float:left;
}
$label_color: #666666;
$tick_color: #cccccc;

li.current a {
    text-decoration:underline;
    text-decoration:overline;
}
#mainChartTimeController {
    margin-left: 50px;
}


.x_time_axis .domain {
    stroke: $tick_color;
    stroke-width: 1.5px;
    fill : none;
}
.x_time_axis text {
    fill: $label_color;
}

// Area layer 
.candle_area {
    fill:#85bb65;
}
.candle_line {
    stroke: url(#line-gradient);
    stroke-width: 1.5px;
    fill : none;
}
.y_candle_axis .tick line, {
    stroke: $tick_color;
    /*stroke-dasharray: 4,6;*/
    opacity: .5;
}
.y_candle_axis .tick text {
    fill: $label_color;
}
.circle {
    stroke-width: 2px;
    stroke:$label_color;
    fill: white;
}

// Volume layer 
.y_volume_axis .tick text {
    fill: $label_color;
}
.y_volume_axis .tick line {
    stroke: $tick_color;
    /*stroke-dasharray: 4,4;*/
    opacity: .5;
}

.y_volume_axis .domain {
    opacity: 0;
}

.brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
}
