#CandlesVolumes {
	height: 380px;
	width: 920px;
}
#MainChartWidget {
    padding:15px;
    height: 120%;
    margin-top:30px;
    overflow-y: hidden;
}

$label_color: #666666;
$tick_color: #cccccc;

li.current a {
    text-decoration:underline;
    text-decoration:overline;
}
#mainChartTimeController {
    margin-left: 50px;
}


.x_time_axis .domain {
    stroke: #38493A;
    stroke-width: 1px;
    fill : none;
}
.x_time_axis text {
    fill: #3B3752;
}


.candle_line {
    /*stroke: url(#line-gradient);*/
    stroke:rgb(32, 29, 50);
    stroke-width: 1.5px;
    fill : none;
}
.y_candle_axis .tick line, {
    stroke: $tick_color;
    /*stroke-dasharray: 4,6;*/
    opacity: .5;
}
.y_candle_axis .tick text {
    fill: #3B3752;
}
.circle {
    stroke-width: 2px;
    stroke:$label_color;
    fill: white;
}


