#js-calculatorModal {
	height:35em;
}

#result {
	margin-right:15px;
	
	float:left;
}



#js-calculatorButton {
	background-color:#1D5080;
}
#js-calculatorButton:hover {
	background-color:#008cba;
}

.titrecalc {
	float:left;
	clear:both;
}

#fabricantsTable {
	padding-right:3em;
}

#supplierContainer {
	padding-left:0;
	height:20em;
	overflow-y:scroll;
    
    overflow-x:hidden;
}