.searchBox {
	position:fixed;
	float:right;
	z-index:99;
	opacity:0.8;
	margin-top: 2.25em;
	margin-right:0.5em;
}

.controllerBox{
	float:right
}
#js-controller{
	float:right;
}
.searchIcon{
	width:10%;
	height:45px;
}