.controllerView .searchBox {
	position:fixed;
	float:right;
	z-index:99;
	opacity:0.8;
	margin-top: 2.25em;
	margin-right:0.5em;
}

.controllerView .controllerBox{
	float:right;
	padding-top: 15px;
}

.controllerView .searchbar{
	max-height: 35px;	
	padding-bottom: 0px;
	margin:0px;
}

.controllerView .searchbutton{
	max-height: 35px;	
	padding-bottom: 0px;
	margin:0px;
}

.controllerView .searchIcon{
	width:10%;
	height:45px;
}

.controllerView .row .row.collapse {
	margin: 0 0 0 0;
}

.controllerView .button-bar a {
	max-height: 45px;	
	margin:0px;
} 

/*
.controllerView #js-controller{
	float:right;
}
*/
