.controllerView .searchBox {
	position: fixed;
	z-index: 99;
	opacity: 0.94;
	margin-right: 0;
}

.controllerView .controllerBox{
	float:right;
	padding-top: 2.3em;
}

.controllerView .searchbar{
	max-height: 35px;	
	padding-bottom: 0px;
	margin:0px;
	max-width: 35em;
	margin-top: 1.0em;

}

.controllerView .searchbutton{
	max-height: 35px;	
	padding-bottom: 0px;
	margin:0px;
}

.controllerView .searchIcon{
	width:10%;
	height:45px;
}

.controllerView .row .row.collapse {
	margin: 0 0 0 0;
}

.controllerView .button-bar a {
	max-height: 45px;	
	margin:0px;
} 

/*
.controllerView #js-controller{
	float:right;
}
*/



button.gray, a.gray, input[type=submit].gray {
	color:gold;
	background-color:#15161C;
	
}

.gray:hover { 
	color:gray;
	background-color:gold;
}
		
.gray:active { 

}