.bigiconcontener {
	margin-bottom: 15px;
}

.iconbig {
	font-size:4em;
}

.bigheader{
	font-size: 4em;
}

.bigsubheader{
	font-size: 2em;
}

.rowheader {
	margin-bottom: 3em;
}

.feature {
	margin-bottom: 3em;
}