#js-itemsViewModal {
	width: 45%;
	margin:0;
	margin-top:2.7em;
}
#js-platformsViewModal {
	width: 45%;
	margin:0;
	margin-top:2.7em;
}
div.platform {

}
.js-item {
	background-repeat: no-repeat;
	height: 50px;
	width: 10em;
	text-align: center;
	padding-top: 1em;
}
#js-itemsViewModal  a:hover .currency {
	height:150%;
	padding:1em;
}