.marketcap {
    margin: 10px;
    height: 135px;
}
.infos-marketcap {
    font-size:0.8em;
}
.makertcap-italic {
    margin-top: 0.4em;
}
.marketcap .globalDiv {
    border-radius: 6px;
    padding: 12px;
    margin-left: 12px;
    margin-top: -7px;
    position:relative;
    min-height: 100px;
}
.globalDiv h1 {
	margin-bottom:0.8em;
}
.marketcap .globalDiv em {
    margin-top: 9px;
    padding: 3px;
    padding-top: 0px;
    font-style: bold;
    font-size: 44px;
}
.marketcap .globalDiv .maketcap-italic {
    font-size: 12px;
    margin: 0;
    display: inline-block;
}