
#js-marketcapModal{
    top:50px;
    height: 52em;
}
#marketcapContainer {
    height:26em;
    overflow-y:scroll;
    overflow-x:hidden;
}


#marketcapTable td {
    font-size:0.875em;
        height:4em;
    
}

.marketcap_correlation {
    text-anchor:middle;
    font-size:1em;
    fill:white;
}    

.infos-marketcap {
    font-size: 0.8em;
}
.makertcap-italic {
    margin-top: 0.8em;
}
.marketcap {
    margin: 10px;
    height: 135px;
    border-radius: 6px;
    /* border:solid 1px;*/
    padding: 12px;
    margin-left: 12px;
    margin-top: -7px;
    position: relative;
    min-height: 400px;
    /*box-shadow: 10px 10px 5px #888888;*/
}
.marketcapRow {
    /*background:white;*/
    height: 100%;
}
#marketcapContainer {
    margin-top: 10px;
}
#marketcapTable {
    width: 100%;
}
.globalDiv h1 {
    margin-bottom: 0.3em;
    margin-top: 0.15em;
}
.marketcap .globalDiv em {
    margin-top: 11px;
    padding: 3px;
    padding-top: 0px;
    font-style: bold;
    font-size: 38px;
}
.marketcap .globalDiv .maketcap-italic {
    font-size: 12px;
    margin: 0;
    display: inline-block;
}
.activebutton {
    background-color: #970b0e;
}
#bubbleMarketCapChart {
    margin-left: -50px;
}
// #js-bubbleMarketcapChart 
.bubbletooltip {
    position: absolute;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    opacity: .7;
    padding: 10px;
    width: 200px;
    z-index: 999999999999999;
    top: 100px;
    left: 100px;
    background: #222222;
    color: #eeeeee;
}
// #js-bubbleMarketcapChart 
.bubbletooltip .itemLabel {
    color: #eeeeee;
}
// #js-bubbleMarketcapChart 
.bubbletooltip .value {
    font-weight: bold;
}
$label_color:#666666;
 $tick_color:#cccccc;
 .marketcap .domain {
    fill: $label_color;
    stroke-width: 1;
}
.marketcap .tick line {
    stroke: $label_color;
    fill: none;
}
.marketcap path, .marketcap line {
    fill: none;
    stroke: #000;
}
progress {
    float: right;
}
