#js-news .accordion dd {
    display: block;
    margin-bottom: 5px !important;
}

.newsList {
	max-height: 250px;
	overflow-y: auto;
}

.newsContent {
	max-height: 250px;
	overflow-y: auto;
}

.accordion dd>a.news.seen:hover {
	background-color: #cacaca
}
.accordion dd>a.news.seen {
	background-color: #cacaca
}
.news.seen {
	
}