.selected {
	font-size:1.5em;
}
.pair {
	padding: 0.5em;
	height: 100%;
	margin-bottom: 0.8em;
	text-align: center;
	width:70%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:#F0FCFF;
}
.list a {
	color:black;

}
.list a:hover {
	color:#cacaca;
	background-color:black;
}
.list {
	list-style-type:none;
}
.list li{
	list-style-type:none;
}
.tiny-platform {
	font-size:0.7em;
}
.close {
	float: right;
	position: absolute;
	right: 1.3em;
	top: 0;
}
.item {
	padding: 0.5em;
}
.pairButton:hover .item {
	padding: 1em;
	height: 150%;
	margin-bottom: 0.8em;
	text-align: center;
	border-radius: 6px;
}
.displayed {
	width:100%%;
}
.pairButton{
	width:20em;
	height:auto;
}
#js-pairsViewModal{
	width:45%;
	margin:auto;
	margin-top: 2.7em;
	align:center;
}