#js-price {
    margin: 1em 0em 0em 0em;
    height: auto;
    position: relative;
}
.hide {
    display:none;
}
.price {
    font-size:4em;
    text-align:left;
}
.platformList {
    margin-top: 0.3em;
    margin-left: 6.2em;
    list-style-type: none;
    font-size: 0.95em;
}
.platformList li {
    list-style-type:none;
}