.newsView {
	padding-top: 10px;
	font-family: 'Lato', sans-serif;
}

.newsView .slider-item {
	overflow-y: hidden;
}

.newsView .slider-item:hover{
	background-color: #E9E9E9;
	cursor: pointer
}

.newsView .slider-item.read{
	background-color: #E9E9E9;
}
.vco-slider .nav-previous, .vco-slider .nav-next {
	display: block;
	height: 100% !important;
	color: black !important;
	/*background-color: white !important;*/

}



