<div class="marketcap offcanvasmenu">

    <div class="globalDiv row">
        <h1> Mining Calculator  </h1>
        </br></br>
        <div class="small-12 large-12 medium-12 columns">
            <div class="small-6 large-6 medium-6 columns"> 
                <form id='calculatorForm' >               
                    <div  class="small-12 columns">
                        <div class="row collapse">
                            <div class="small-8 columns">
                                <input id="hashpower" name="hashpower" type="text" placeholder="60" value="60">
                            </div>
                            <div class="small-4 columns">
                                <select name="hash_unit" class="postfix">
                                    <option value="GH">Gh/s</option>
                                    <option value="MH">Mh/s</option>
                                    <option value="TH">Th/s</option>
                                <select>
                            </div>
                        </div>
                         <div class="row collapse">
                            <div  class="small-3 columns">
                                <label for="difficulty" class="left inline"> Difficulty </label>
                            </div>
                            <div class="small-9 columns">
                                <input id="difficulty" name="difficulty" type="text" value=<%=networkdata.marketcap.difficulty%>>
                            </div>
                        </div>
                        <div class="row collapse">
                            <div  class="small-3 columns">
                                <label for="difficulty" class="left inline"> Price </label>
                            </div>
                            <div class="small-9 columns">
                                <input id="price" type="text" name="price" value=<%=price%>>     
                            </div>             
                        </div>
                    </div>
                    
                    <input type="button" class="button postfix radius" id="js-calculatorButton" value="Calculate"></input>          
                </form>
                <table id="result" class="small-12 large-12 medium-12 columns">
                    <thead>
                        <tr>
                            <th colspan="3" align="center"> Expected Earnings </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Per Day </td>
                            <td id="dayCoin"></td>
                            <td id="dayDollar"></td>
                        </tr>
                        <tr>
                            <td> Per Week </td>
                            <td id="weekCoin"></td>
                            <td id="weekDollar"></td>
                        </tr>
                        <tr>
                            <td> Per Month </td>
                            <td id="monthCoin"></td>
                            <td id="monthDollar"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
             <table id="calculatorTable" class="small-6 large-6 medium-6 columns">
                        <thead>
                            <tr>
                                <th>CryptoCurrencies</th>
                                <th>Difficulty</th>
                                <th>Total Coin</th>
                            </tr>
                        </thead>
                        <tbody>                          
                                <tr>
                                    <td><%=networkdata.currencyName%></td>
                                    <!-- <td><%=networkdata.marketcap.date%></td> -->
                                    <td><%=networkdata.marketcap.difficulty%></td>
                                    <td><%=networkdata.marketcap.totalCoin%></td>
                                </tr>
                   
                        </tbody>
            </table>
        </div>












    </div>

</div>