<div class="row controllerView">
    <div class="small-12 medium-12 large-12 columns controllerBox">

        <div class="row collapse">

            <div class="right small-12 medium-12 large-12 columns button-bar" >
               <!--  <div class="button-bar" > -->
                    <ul class="button-group inline-list left timeperiods">
                        <li>
                            <button id="js-showItemsView" class="tiny button gray">
                                <%=selectedItem%>
                            </button>
                            <div id="js-itemsViewModal" class="reveal-modal" data-reveal></div>
                        </li>
                        <li>
                            <button id="js-showPairsView" class="tiny button gray">
                                <%=selectedPair%>
                            </button>
                            <div id="js-pairsViewModal" class="reveal-modal" data-reveal></div>
                        </li>
                       
                        <li style="width:34%">
                            <button id="js-showPlatformsView" class="tiny button gray">
                                <%=selectedPlatform%>
                            </button>
                            <div id="js-platformsViewModal" class="reveal-modal" data-reveal></div>
                        </li>
                      
                    </ul>
                </div>
                <div class="small-12 medium-12 large-12 columns searchdiv" style="float:right">
                    <input type="text" class="searchbar" id="js-searchbar" placeholder="Search by platform, coin or currency...">
                    <div class="searchBox left columns small-12 medium-6 large-4" id="js-searchResults">
                </div>
            </div>
            </div>


          <!--   <div class="small-12 medium-12 large-12 columns" style="float:right">
                <input type="text" class="searchbar" id="js-searchbar" placeholder="Search by platform, coin or currency...">
                <div class="searchBox left columns small-12 medium-6 large-4" id="js-searchResults">
                </div>
            </div> -->

        </div>
    </div>

</div>
