doctype html
html(lang="en")

	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='./css/account.css')
		link(href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel='stylesheet')

	body#app

		//- header#topbar.navbar
		//- 	.container-fluid.expanded-panel
		//- 		.row
		//- 			#logo.col-xs-12.col-sm-2
		//- 				a(href="/") heartbit
		//- 			#top-panel.col-xs-12.col-sm-10
		//- 				.row
		//- 					.col-xs-8.col-sm-4#searchBarAnchor
		//- 					.col-xs-4.col-sm-8.top-panel-right
		//- 						ul.nav.navbar-nav.pull-right.panel-menu
		//- 							li.hidden-xs#addWidgetAnchor
		//- 							li.hidden-xs#lockDashboardAnchor
		//- 							li.hidden-xs#notificationAnchor
		//- 							li.dropdown#authAnchor

		//- #main.container-fluid
		//- 	.row
		//- 		#sidebar-left.col-xs-2.col-sm-2
		//- 		#content.col-xs-12.col-sm-10
		//- #bottombar

		


		script(src='./dist/js/account.js')

		