#lastPrice {
	font-size: 2.8em;
	color:#0E143C;
}

#pair {
	font-size: 1em;
}

#variation {
	font-size: 1.5em;
	margin-top:-0.2em;
}

.lastPriceBlock {
	margin-left: 3em;
	float:left;
	padding-top: 0.1em;
}

.lastStats {
	margin-left:23em;
	padding-top:0.45em;
}

#volumeNbTrade {
	margin-left:8em;
	font-size:1.2em;
}

#highLow {
	float:left;
	font-size:1.2em;
}

#statstitle {
	margin-left:23em;
	padding-top:0.4em;
}

.positive {
	color:green;
}

.negative {
	color:#a00;
}

.volumeColor {
	color:#0F061D;
}

#itemVolume {
	font-size:0.5em;
}

#nbtrade {
	color:#0F061D;
}