#widgetkeyfact1 > .grid-stack-item-content {
		overflow: hidden;
}

#lastPrice {
	font-size: 2.5em;
	color:#0E143C;
}

#pair {
	font-size: 1em;
}

#variation {
	font-size: 1.5em;
	margin-top:-0.2em;
}

.lastPriceBlock {
	margin-left: 3em;
	float:left;
	padding-top: 0.1em;
}

.lastStats {
	margin-left: 23em;
	padding-top: 1em;
}

#volumeNbTrade {
	margin-left:8em;
	font-size:1.2em;
}

#highLow {
	float:left;
	font-size:1.2em;
}

#statstitle {
	margin-left:23em;
	padding-top:0.4em;
}

#TickerWidget{
  padding:3px;
}
#TickerWidget ul {
  list-style-type:none;
  width:50%;
}
#TickerWidget ul li{
  list-style-type:none;
  float:left;
  width:100%;
  display:inline;
}
#TickerWidget ul.right li{
  float:none;
  display:block;
}
#TickerWidget ul.right{
  float:right;
}


@media (max-width: 680px) {
	#TickerWidget{
	  padding:3px;
	  font-size: 0.9em;
	}
}

@media (max-width: 609px) {
	#TickerWidget{
	  padding:3px;
	  font-size: 0.8em;
	}
	.lastPriceBlock {
		padding-top: 0.45em;
	}
}

@media (max-width: 550px) {
	.lastPriceBlock {
		margin-left: 1.5em;
		float: left;
		padding-top: 0.8em;
	}
	#TickerWidget{
	  padding: 3px;
	  font-size: 0.75em;
	}
	.lastStats {
		margin-left: 20em;
		padding-top: 1em;
	}
	#volumeNbTrade {
		margin-left: 10em;
		font-size: 1em;
	}
}
@media (max-width: 469px) {
	.lastPriceBlock {
		margin-left: 1.5em;
		float: left;
		padding-top: 0.8em;
	}
	#TickerWidget{
	  padding:3px;
	  font-size: 0.75em;
	}
	.lastStats {
		margin-left: 20em;
		padding-top: 1em;
	}
	#volumeNbTrade {
		margin-left: 0em;
		font-size: 0.8em;
	}
	#highLow {
		float: none;
		font-size: 1.2em;
		display: block;
	}
}


.positive {
	color:green;
}

.negative {
	color:#a00;
}

.volumeColor {
	color:#0F061D;
}

#itemVolume {
	font-size:0.5em;
}

#nbtrade {
	color:#0F061D;
}