.market_traders_address {
	width:10em;
	overflow:hidden;
	text-overflow: ellipsis;
	display:block;
}

#ActiveAccountsWidget {
	background:white;
	color: #101010;
	width: 98%;
	margin-left: 0.5em;
	margin-top: 0.5em;
}