.market_traders_address {
	width:10em;
	overflow:hidden;
	text-overflow: ellipsis;
	display:block;
}

#ActiveAccountsWidget {
	background:#061A2D;
	color: white;
	width: 98%;
	margin-left: 0.5em;
	margin-top: 0.5em;
}