.orderbookAskList {
	float: right;
	margin-right: 1.5em;
}

.orderbookBidList {
	float: left;
	margin-left: 1.5em;
}

.orderbookTable_td {
	padding: 0 1em 0 1em;
	border-top: 1px solid rgb(155, 163, 156);
}

.orderbooTable_th {
	padding: 0 1em 1em 0.7em;
	font-size: 1.1em;
	color:#061A2D;
}

.bidTitle {
	color: #061A2D;
	margin-top:3em;
	margin-bottom:1.5em;
}

.askTitle {
	color:#061A2D;
	margin-top:3em;
	margin-bottom:1.5em;
}

.loading_orderbookList {
	width: 85px;
	height: 85px;
	top:50%;
	left:50%;
	margin: -42.5px 0 0 -42.5px ;
	position:absolute;
}

#OrderbookListWidget {
	background:white;
	color: #101010;
	width: 98%;
	margin-left: 0.5em;
	margin-top: 0.5em;
}