#aggregatType {

}

.dateInput {
	height: 1.4em;
	margin-left: 0.5em;
	float: right;
}

.dateLabel {
	float: right;
	width: 17em;
}

.dateField {
  float: left;
  margin-left: 2.5em;
}

#interval {
	margin-left:1.6em;
}

#maInput {
	width: 2.3em;
	margin-left: 0.8em;
	height: 1.5em;
}

.maDrawButton {
	background:#FFFFFF;
	color:#004756;
	margin-left: 0.2em;
}

.maLabel {
	margin-left:3em;
}
.mainSelector {
  float: left;
  width: 13em;
}

.secondarySelector {
	float:left;
}

.platformSelect {
	max-width: 8em;
	width: 8em;
	float:right;
}

.platformLabel {
	width: 13em;
}

#range {
	margin-left: 2.4em; 
}

.selectorCheckbox {
	width:5em;
}

.selectorCheckbox input {
	float:right;
}



.simpleSelector {
	background: #FFFFFF;
	color: #004756;
	margin-left: 0.5em;
}

@media (max-width: 850px) {
	#ParameterSelectorWidget {
		font-size: 0.9em;
	}
}

@media (max-width: 760px) {
	#ParameterSelectorWidget {
		font-size: 0.8em;
	}
}

@media (max-width: 690px) {
	#ParameterSelectorWidget {
		font-size: 0.7em;
	}
}

@media (max-width: 630px) {
	#ParameterSelectorWidget {
		font-size: 0.6em;
	}

	#range {
		margin-left: 1em;
	}

	#interval {
		margin-left: 0.3em;
	}

	#ParameterSelectorWidget > .dateField {
		margin-left: 2em;
	}

	#ParameterSelectorWidget  .dateLabel {
		width: 13em;
	}

	#ParameterSelectorWidget .selectorCheckbox {
		width: 5.9em;
	}

	#ParameterSelectorWidget input[type="checkbox"] {
		margin: 0px;
	}


}

@media (max-width: 501px) {
	#ParameterSelectorWidget .maLabel {
		margin: 0;
	}

	#widgetkeyfact3 > .grid-stack-item-content {
		overflow: hidden;
	}
}

