#aggregatType {

}

.dateInput {
	height: 1.4em;
	margin-left: 0.5em;
	float: right;
}

.dateLabel {
	float: right;
	width: 17em;
}

.dateField {
  float: left;
  margin-left: 2.5em;
}

#interval {
	margin-left:1.6em;
}

.mainSelector {
  float: left;
  width: 13em;
}

.platformSelect {
	max-width: 8em;
	width: 8em;
	float:right;
}

.platformLabel {
	width: 13em;
}

#range {
	margin-left: 2.4em; 
}

.selectorCheckbox {
	width:5em;
}

.selectorCheckbox input {
	float:right;
}



.simpleSelector {
	background: #FFFFFF;
	color: #004756;
	margin-left: 0.5em;
}



