/*.depth {
	min-height: 400px;
}*/

.depthLayer path {
 
}

.depthAreaBids {
	fill:#ccc;
	stroke-width:0;
	opacity: 0.5;
}

.depthBid {
	/*stroke:#b7b7b7;
	stroke-width:2px;*/
	fill:none;
}

.depthAreaAsks {
	fill:#ccc;
	stroke-width:0;
	opacity: 0.5;
}

.depthAsk {
	/*stroke:#b7b7b7;
	stroke-width:2px;*/
	fill:none;
}

.y_axis text {
	
}