.depthAreaBids {
	fill:#cacaca;
	stroke-width:0;
	opacity: 1;
}

.depthBid {
	/*stroke:#b7b7b7;
	stroke-width:2px;*/
	fill:none;
}

.depthAreaAsks {
	fill:#cacaca;
	stroke-width:0;
	opacity: 1;
}

.depthAsk {
	/*stroke:#b7b7b7;
	stroke-width:2px;*/
	fill:none;
}

.y_axis text {
	
}