$label_color: #666666;

 $tick_color: #cccccc;

 .depthAreaBids {
    fill:#CD0C1D;
    stroke-width:0;
    opacity: .7;
}
.depthBid {
    stroke:#CD0C1D;
    stroke-width:1px;
    fill:none;
}
.depthAreaAsks {
    fill:#85bb65;
    stroke-width:0;
    opacity:.7;
}
.depthAsk {
    stroke:#58B758;
    stroke-width:1px;
    fill:none;
}
.depthChart .y_axis text {
	fill: $label_color;
}

.depthChart .x_axis text {
	fill: $label_color;
}

.minAsk {
    position: relative;
    font-size: 1.3em;
}
.maxBid {
    position: relative;
    font-size: 1.3em;
}
