$label_color: #666666;
$tick_color: #cccccc;

// .mainchart {
//     min-height: 375px;
// }
li.current a {
    text-decoration:underline;
    text-decoration:overline;
}
#mainChartTimeController {
    margin-left: 50px;
}
.x_time_axis .domain {
    stroke: $tick_color;
}
.x_time_axis text {
    fill: $label_color;
}

// Area layer 
.candle_area {
    fill:#85bb65;
}
.candle_line {
    stroke: url(#line-gradient);
    stroke-width: 1.5px;
    fill : none;
}
.y_candle_axis .tick line, {
    stroke: $tick_color;
    /*stroke-dasharray: 4,6;*/
    opacity: .5;
}
.y_candle_axis .tick text {
    fill: $label_color;
}
.circle {
    stroke-width: 2px;
    stroke:$label_color;
    fill: white;
}

// Volume layer 
.y_volume_axis .tick text {
    fill: $label_color;
}
.y_volume_axis .tick line {
    stroke: $tick_color;
    /*stroke-dasharray: 4,4;*/
    opacity: .5;
}
.brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
}
